# Program to display sum of two complex numbers
a=5+2.5j
b=6.5+2j
c=a+b
print("sum of two complex numbers=",c)

In [2]:
# program to convert octal, binary, and hexadecimal number systems to the decimal number system
a=0o7730
b=0b10110101
c=0x125a78f
n=int(a)
print('octal number 7730=',n)
n=int(b)
print('binary number 10110101=',n)
n=int(c)
print('hexadecimal number 125a78f=',n)

octal number 7730= 4056
binary number 10110101= 181
hexadecimal number 125a78f= 19244943

In [5]:
# program to convert octal, binary, and hexadecimal number systems to the decimal number system 
# using int(string,base)
# string represents the string format of a number
# base represents the base of the number system to be used for the string
a='7730'     # changes to string
b='10110101' # changes to string
c='125a78f'  # changes to string
n=int(a,8)
print('octal number 7730=',n)
n=int(b,2)
print('binary number 10110101=',n)
n=int(c,16)
print('hexadecimal number 125a78f=',n)

octal number 7730= 4056
binary number 10110101= 181
hexadecimal number 125a78f= 19244943

In [6]:
# program to convert the decimal number system into octal, binary, and hexadecimal number systems
a=10
b=bin(a) #bin(): function to convert a number into a binary number
print(b) 
b=oct(a) #oct(): function to convert a number into a octal number
print(b)
b=hex(a) #hex(): function to convert a number into a hexadecimal number
print(b)

0b1010
0o12
0xa

In [7]:
# program to create a bytes type array, read and display the elements of the array
# Create a list of byte numbers
list=[10,45,78,0,90,78]
x=bytes(list)
for b in x:
    print(b)

10
45
78
0
90
78

In [10]:
# program to create a bytearray type array and retrieve its elements
list=[10,56,40,78,59]
x=bytearray(list)
x[0]=20
x[1]=30
for i in x:
    print(i)

20
30
40
78
59

In [2]:
# Python program to accept a string from the keyboard and display it
str=input('enter a string')
print('u entered',str)

enter a string 255

u entered 255

In [7]:
# Python program to accept a character as a string 
char=input('enter characters')
print('u entered:'+ char)

enter characters asdrfgt

u entered:asdrfgt

In [9]:
# Python program to accept a single character from the keyboard
char=input('enter character')
print('u entered: '+char[0])

enter character manoj

u entered: m

In [13]:
# Python program to accept an integer number from the keyboard
int_eger=int(input('enter integer value only'))
print('u entered integer:%i'%int_eger)
# 2nd version of same code
int_eger=int(input('enter integer value only'))
print('u entered interger:{num}'.format(num=int_eger))

enter integer value only 23

u entered integer:23

enter integer value only 25

u entered interger:25

In [22]:
# Python program  to accept a float number from the keyboard
flot=float(input('enter a float number'))
print('u entered:{0}'.format (flot))

enter a float number 458.46956853

u entered:458.46956853

In [17]:
# Python program to accept two integer numbers from the keyboard
x,y=int(input('enter 1st no.')),int(input('enter 2nd no.'))
print('u entered {0} {1}'.format(x,y))

enter 1st no. 45
enter 2nd no. 65

u entered 45 65

In [25]:
#  Python program to accept two numbers and find their sum.
x= int(input('enter 1st number'))
y= int(input('enter 2nd number'))
print('sum of two numbers is:%d'%(x+y))
print('the sum of',x,'and',y,'is',x+y)
print('the sum of {} and {} is {}'.format(x,y,x+y))

enter 1st number 56
enter 2nd number 15

sum of two numbers is:71
the sum of 56 and 15 is 71
the sum of 56 and 15 is 71

In [26]:
# Python program to accept two numbers and find their product
x= int(input('enter 1st number'))
y= int(input('enter 2nd number'))
print('product of two numbers is:%d'%(x*y))
print('the product of',x,'and',y,'is',x*y)
print('the product of {0} and {1} is {2}'.format(x,y,x*y))

enter 1st number 5
enter 2nd number 5

product of two numbers is:25
the product of 5 and 5 is 25
the product of 5 and 5 is 25

In [6]:
# program to convert octal, binary, and hexadecimal number systems to the decimal number system 
# using int(string,base)
# string represents the string format of a number
# base represents the base of the number system to be used for the string
a=input('enter a octal number')
b=input('enter a binary number')
c=input('enter a hexadecimal number')
n=int(a,8)
print('octal number',n)
n=int(b,2)
print('binary number=',n)
n=int(c,16)
print('hexadecimal number=',n)

enter a octal number 4576
enter a binary number 0101010101
enter a hexadecimal number a457fe129

octal number 2430
binary number= 341
hexadecimal number= 44115681577

In [10]:
# Program to accept 3 integers in the same line and display their som
x,y,z=[int(a) for a in input('enter three numbers').split()]
print('sum=',x+y+z)
# Program to accept 3 integers in the same line using commas and display their som
x,y,z=[int(a) for a in input('enter three numbers').split(',')]
print('sum=',x+y+z)

enter three numbers 45 45 45

sum= 135

enter three numbers 45,47,48

sum= 140

In [13]:
# Program to accept a group of string separated by commas and display them using list
lst=[x for x in input('enter strings').split(',')]
print('u entered',lst)

enter strings manoj,sharma

u entered ['manoj', 'sharma']

In [14]:
# Program to evaluating a expression entered from keyboard
# eval() function along with input()  to evaluate an expression entered in input
x=eval(input('enter an expression'))
print('result=%d'%x)

enter an expression 45+50

result=95

In [23]:
# Program to accept a list and display it
lst= eval(input('enter a list'))
print('u entered',lst)

enter a list 'manoj',45,45+75

u entered ('manoj', 45, 120)

In [25]:
# Python program to accept a tuple and display it
tpl=eval(input('enter a tuple'))
print('u entered',tpl)

enter a tuple 10,1245,1540,485

u entered (10, 1245, 1540, 485)

#control statements

In [5]:
#python program to find the area of circle
import math
r=int(input('enter the radius of the circle:'))
area=math.pi*r**2
print('area of circle:',area)
print('area of circle: {:12.4f}'.format(area))

enter the radius of the circle: 21

area of circle: 1385.4423602330987
area of circle:    1385.4424

In [6]:
# Program to display digits in words
num=5
if num==5:
    print('five')

five

In [10]:
# Python program to display a group of messages when condition is true
name='My name is manoj'
if name=='My name is manoj':
    print(name)

My name is manoj

In [12]:
# Python program to test whether a number is evebn or odd and accept the values from the keyboard
x=int(input('enter the number to test'))
if x%2==0:
    print('entered the number is even')
else:
    print('number is odd')

enter the number to test 45

number is odd

In [13]:
# Python program to test whether a given number is between 1 and 10 (1 and 10 inclusive)
num=int(input('enter a number between 1 and 10'))
if num>=1 and num<=10:
    print('number between 1 and 10')
else:
    print('number not between 1 and 10')

enter a number between 1 and 10 45

number not between 1 and 10

In [16]:
# Python program to 0, positive, or negative
num=int(input('enter number'))
if num==0:
    print('number is 0')
elif num>0:
    print('number is positive')
else:
    print(' number is negative')

enter number -45

 number is negative

In [23]:
# program to accept a number from the keyboard and display in words only(0 to 5)
num= int(input('enter a number from 0 to 5'))
if num==0:
    print('zero')
elif num==1:
    print('one')
elif num==2:
    print('two')
elif num==3:
    print('three')
elif num==4:
    print('four')
elif num==5:
    print('five')
else:
    print('number not known')

enter a number from 0 to 5 45

number not known

In [24]:
# Python program to display number 1 to 10 using whilke keyword
num=1
while num>=1 and num<=10:
    print(num)
    num+=1
print('end')

1
2
3
4
5
6
7
8
9
10
end

In [26]:
# program to display even numbers between 100 and 200
x=100
while x>=100 and x<=200:
    print(x)
    x+=2
print('end')

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
end

In [28]:
# Program to display even numbers between m and n
m,n=[int(x) for x in input('enter range to display even numbers').split(',')]
x=m
if x%2!=0:
    x+=1
while x>=m and x<=n:
    print(x)
    x+=2

enter range to display even numbers 45,95

46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94

In [4]:
# Python program to display characters of a string using a for loop
str='manoj sharma'
for i in str:
    print(i)

m
a
n
o
j

s
h
a
r
m
a

In [5]:
# Program to display each character of string using sequence index
str='manoj sharma'
x=len(str)
for i in range(x):
    print(str[i])

m
a
n
o
j

s
h
a
r
m
a

In [7]:
#program to display odd no from 0 to 10 using range() object
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
# Program to display numbers from 10 to 1 in decreasing order
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
# Program to display elements of list using for loop
lst=['manoj',56,56.58,'ram']
for i in lst:
    print(i)

manoj
56
56.58
ram

In [11]:
# Program to display and find the sum of a list of numbers using a for loop
lst=[10,20,30,40,50,60]
sum=0
for i in lst:
    sum+=i
    i+=1
print('sum:',sum)

sum: 210

In [17]:
#Program to display and find the sum of a list of numbers using a while loop
lst=[10,20,30,40,50,60]
sum=0
i=0
while i<len(lst):
    print(lst[i])
    sum+=lst[i]
    i+=1
print('sum',sum)

10
20
30
40
50
60
sum 210

In [1]:
i=1 
while i<=10:
    print(i)
    i+=1
#if you don't write i+=1 when the loop enters an infinite loop, as it never increments and always remains true

1
2
3
4
5
6
7
8
9
10

# pattern problem in nested loop

1) square

In [8]:
n=int(input('enter the size of square'))
for i in range(n):
    for j in range(n):
        print('*',end=' ')
    print()

enter the size of square 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

2) increasing triangle pattern

In [7]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

3) decreasing triangle pattern

In [3]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

4) right-sided triangle

In [16]:
n=5 
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

5) right-sided decreasing triangle

In [19]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

6) hill pattern

In [22]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

7) reverse hill pattern

In [23]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

8) diamond pattern

In [26]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()    
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [27]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i, n):
        print('*', end=' ')
    print()

Enter the number of rows:  10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

9) pyramid pattern

In [6]:
n = int(input('Enter number of rows for pyramid: '))
for i in range(n):
    for j in range(i,n):
        print(' ', end='')
    for j in range(i + 1):
        print('* ', end='')
    print()

Enter number of rows for pyramid:  5

     *
    * *
   * * *
  * * * *
 * * * * *

10) reverse pyramid

In [7]:
n = int(input('Enter number of rows for pyramid: '))
for i in range(n):
    for j in range(i+1):
        print(' ', end='')
    for j in range(i,n):
        print('* ', end='')
    print()

Enter number of rows for pyramid:  5

 * * * * *
  * * * *
   * * *
    * *
     *

11) double hill

In [29]:
n=int(input('enter rows in double pyramid'))
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i+1):
        print('* ',end='')
    for j in range(i,n-1):
        print(' ',end='')
    for j in range(i,n-1):
        print(' ',end='')
    for j in range(i+1):
        print('* ',end='')
    print()

enter rows in double pyramid 5

     *         *
    * *       * *
   * * *     * * *
  * * * *   * * * *
 * * * * * * * * * *

In [32]:
def double_hill(n):
    for i in range(n):
        print(' ' * (n - i - 1) + '* ' * (i + 1) + ' ' * (n - i - 1) +' ' * (n - i - 1) + '* ' * (i + 1))

double_hill(5)

    *         *
   * *       * *
  * * *     * * *
 * * * *   * * * *
* * * * * * * * * *

In [15]:
n=5
for i in range(n):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    for j in range(i):
        print("*",end="")
    for j in range(n-i-2):
        print(" ",end="")
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")
    print()

     *       *
    ***     ***
   *****   *****
  ******* *******
 ******************

12) butterfly pattern

In [8]:
n=int(input('enter the number of rows in butterfly:'))
for i in range(n-1):
    for j in range(i+1):
        print('*',end='')
    for j in range(i,n-1):
        print(' ',end='')
    for j in range(i,n-1):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print()   
for i in range(n):
    for j in range(i,n):
        print('*',end='')
    for j in range(i):
        print(' ',end='')
    for j in range(i):
        print(' ',end='')
    for j in range(i,n):
        print('*',end='')
    print()

enter the number of rows in butterfly: 5

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

13) sandglass pattern

In [12]:
n=int(input('enter number of rows in the sandglass:'))
for i in range(n-1):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n):
        print('* ',end='')
    print()
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i+1):
        print('* ',end='')
    print()

enter number of rows in the sandglass: 5

 * * * * *
  * * * *
   * * *
    * *
     *
    * *
   * * *
  * * * *
 * * * * *

14) left pascal's triangle

In [18]:
n=int(input('enter number of rows in the left pascal triangle'))
for i in range(n):
    for j in range(i):
        print('*',end='')
    print()
for i in range(n):        
    for j in range(i,n):
        print('*',end='')
    print()

enter number of rows in the left pascal triangle 5

*
**
***
****
*****
****
***
**
*

15) right pascal's triangle

In [21]:
x=int(input('enter the number of rows in right pascal triangle:'))
for i in range(n-1):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n):
        print('*',end='')
    print()

enter the number of rows in right pascal triangle: 5

     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

In [5]:
#Program to display numbers 1 to 100 in proper format
for x in range(1,11):
    for y in range(1,11):
        print('{:8}'.format(x*y),end=' ')
    print()

       1        2        3        4        5        6        7        8        9       10
       2        4        6        8       10       12       14       16       18       20
       3        6        9       12       15       18       21       24       27       30
       4        8       12       16       20       24       28       32       36       40
       5       10       15       20       25       30       35       40       45       50
       6       12       18       24       30       36       42       48       54       60
       7       14       21       28       35       42       49       56       63       70
       8       16       24       32       40       48       56       64       72       80
       9       18       27       36       45       54       63       72       81       90
      10       20       30       40       50       60       70       80       90      100

In [9]:
# Python program to find the list of elements in the list of elements
grp=[10,20,30,56]
search=int(input('enter the number to be searched:'))
for i in grp:
    if i==search:
        print('element found')
        break
else:
    print('element not found')

enter the number to be searched: 100

element not found

In [2]:
# Python program to display numbers from 10 to 6 and break the loop when the number is about to display 5
x=10
while x>=1:
    print(x)
    x-=1
    if x==5:
        break
print('out of the loop')

10
9
8
7
6
out of the loop

In [3]:
# Python program to display numbers from 1 to 5 using the continue statement
x=0 
while x<10:
    x+=1
    if x>5:
        continue
    print(x)
print('out of loop')

1
2
3
4
5
out of loop

In [4]:
# Python program to know that pass does nothing
x=0
while x<10:
    x+=1
    if x>5:
        pass
    print(x)
print('out of loop')

1
2
3
4
5
6
7
8
9
10
out of loop

In [5]:
# Python program to retrieve a negative number from a list of numbers
num=[10,-58,-48,478,-458]
for i in num:
    if i>0:
        pass
    else:
        print(i)

-58
-48
-458

In [8]:
# Program to assert that the user enters a number greater than zero
x=int(input('enter the number greater than 0'))
assert x>0 , 'wrong input entered'
print('u entered:',x)

enter the number greater than 0 100

u entered: 100

In [9]:
# function to find the sum of numbers
def add(x,y):
    return x+y
sum=add(10,20)
print('sum:',sum)

sum: 30

In [12]:
# Python program to display a prime numbers series
max=int(input('enter the number upto which you have to find the prime number'))
for num in range(2,max+1):
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print (num)

enter the number upto which you have to find the prime number 56

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53

In [15]:
# Write a program to generate a Fibonacci series
n=int(input('how many fibbonacci?'))
f1=0
f2=1
c=2
if n==1:
    print(f1)
elif n==2:
    print(f1,'\n',f2,sep='')
else:
    print(f1,'\n',f2,sep='')
    while c<n:
        f=f1+f2
        print(f)
        f1,f2=f2,f
        c+=1

how many fibbonacci? 10

0
1
1
2
3
5
8
13
21
34

In [20]:
# Write a Python program to calculate the sine value of a given angle in degrees by evaluating the sine series
x,n =[int(i) for i in input('enter angle value, enter number of iterations: '). split (',')]
r=(x*3.14159)/180
t=r
sum=r
print('iteration=%d \t sum=%f'%(1,sum))
i=2
for j in range(2,n+1):
    t=(-1)*t*r**2/(i*(i+1))
    sum=sum+t
    print('iteration=%d \t sum=%f'%(j,sum))
    i+=2

enter angle value, enter number of iterations:  60,10

iteration=1 	 sum=1.047197
iteration=2 	 sum=0.855800
iteration=3 	 sum=0.866295
iteration=4 	 sum=0.866021
iteration=5 	 sum=0.866025
iteration=6 	 sum=0.866025
iteration=7 	 sum=0.866025
iteration=8 	 sum=0.866025
iteration=9 	 sum=0.866025
iteration=10 	 sum=0.866025

In [22]:
# Write a Python program to calculate the cosine value of a given angle in degrees by evaluating the cosine series
x,n =[int(i) for i in input('enter angle value, enter number of iterations: '). split (',')]
r=(x*3.14159)/180
t=1
sum=1
print('iteration=%d \t sum=%f'%(t,sum))
i=1
for j in range(2,n+1):
    t=(-1)*t*r**2/(i*(i+1))
    sum=sum+t
    print('iteration=%d \t sum=%f'%(j,sum))
    i+=2

enter angle value, enter number of iterations:  60,10

iteration=1 	 sum=1.000000
iteration=2 	 sum=0.451690
iteration=3 	 sum=0.501797
iteration=4 	 sum=0.499965
iteration=5 	 sum=0.500001
iteration=6 	 sum=0.500001
iteration=7 	 sum=0.500001
iteration=8 	 sum=0.500001
iteration=9 	 sum=0.500001
iteration=10 	 sum=0.500001

In [23]:
# Write a Python program to evaluate the exponential series
x,n =[int(i) for i in input('enter power of e, enter number of iterations: '). split (',')]
t=1
sum=t
print('iteration=%d \t sum=%f'%(1, sum))
for j in range(1,n):
    t=t*x/j
    sum+=t
    print('iteration=%d \t sum=%f'%(j+1, sum))

enter power of e, enter number of iterations:  2,15

iteration=1 	 sum=1.000000
iteration=2 	 sum=3.000000
iteration=3 	 sum=5.000000
iteration=4 	 sum=6.333333
iteration=5 	 sum=7.000000
iteration=6 	 sum=7.266667
iteration=7 	 sum=7.355556
iteration=8 	 sum=7.380952
iteration=9 	 sum=7.387302
iteration=10 	 sum=7.388713
iteration=11 	 sum=7.388995
iteration=12 	 sum=7.389046
iteration=13 	 sum=7.389055
iteration=14 	 sum=7.389056
iteration=15 	 sum=7.389056

# Arrays

In [1]:
# Python program to create an integer type array
import array
arr=array.array('i',[-45,-48,85,-79,96])
print('the elements of array are:')
for manoj in arr:
    print(manoj)

the elements of array are:
-45
-48
85
-79
96

In [2]:
# Python program to create an integer type array
from array import *
a=array('i',[45,-58,63,-145,89,-47])
for i in a:
    print(i)

45
-58
63
-145
89
-47

In [6]:
# Python program to create an integer type array
import array as manoj
a=manoj.array('i',[4,-5,63,-15,9,-7])
for i in a:
    print(i)

4
-5
63
-15
9
-7

In [12]:
# Python program to create an array with a group of characters
from array import *
a=array('u',['a','b','c','d'])
for i in a:
    print(i)
print(a[1])

a
b
c
d
b

In [13]:
# Python program to create one array from another array
from array import *
arr_1=array('d',[45.57,-78.4,7.45,-25.2])
arr_2=array(arr_1.typecode,[a*3 for a in arr_1])
for i in arr_2:
    print(i)

136.71
-235.20000000000002
22.35
-75.6

In [23]:
# Python program to retrieve elements of an array using array index
from array import *
arr=array('i',[56,78,49,-47])
n=len(arr)
for i in range(n):
    print(arr[i],end=' ')
print()
print(arr[2])

56 78 49 -47
49

In [2]:
# Python program to retrieve elements of an array using a while loop
from array import *
a=array('i',[40,-30,20,-10])
n=len(a)
i=0
while i<n:
    print(a[i],end=' ')
    i+=1

40 -30 20 -10

In [1]:
# Python program to retrieve elements of an array using a while loop on separate line
from array import *
arr=array('i',[45,89,46,18,225,479])
n=len(arr)
i=0
while i<n:
    print(arr[i])
    i+=1

45
89
46
18
225
479

# array slicing

A slice represents a piece of an array
syntax:
arrayname[start:stop:stride]
Stop is excluded, and stride represents the step size, excluding the starting elementA

In [7]:
# Write a program to know the effect of slicing operations on array
from array import *
manoj=array('i',[10,20,30,40,50,60,70,80,90,100])
y=manoj[1:4]
print(y)
y=manoj[0:]
print(y)
y=manoj[:4]
print(y)
y=manoj[-4:]
print(y)
y=manoj[-4:-1]
print(y)
y=manoj[0:7:2]
print(y)

# Slicing can also be used to update an existing array
manoj[1:5]=array('i',[30,40,50,60]) 
for i in manoj:
    print(i,end=' ')
print()    
for i in manoj[1:4]:
    print(i,end=' ')

array('i', [20, 30, 40])
array('i', [10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
array('i', [10, 20, 30, 40])
array('i', [70, 80, 90, 100])
array('i', [70, 80, 90])
array('i', [10, 30, 50, 70])
10 30 40 50 60 60 70 80 90 100
30 40 50

In [16]:
# Python program to understand various methods in array class
from array import *
x=array('i',[10,20,30])
print('original array:',x)

x.append(40)   # single argument at a time
x.append(50)   # syntax: array_name.append(x): add element x at end
print(x)

original array: array('i', [10, 20, 30])
array('i', [10, 20, 30, 40])

In [13]:
n=5
for i in range(n):
    print('*',end=' ')

* * * * *

In [14]:
n=5
for i in range(n):
    for j in range(5-i):
        print('*',end='')
    print()

*****
****
***
**
*

In [1]:
# Function to check for prime numbers
def is_prime(n):
    """
    Checks if a number is prime.
    """
    # Prime numbers must be greater than 1
    if n <= 1:
        return False
    # Check for factors from 2 up to the square root of n
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Find and print prime numbers less than 20
prime_numbers = []
for number in range(2, 20):
    if is_prime(number):
        prime_numbers.append(number)

print("Prime numbers less than 20 are:", prime_numbers)

Prime numbers less than 20 are: [2, 3, 5, 7, 11, 13, 17, 19]