# What is input and Output:
The data given to the computer is 
called input. The results returned by the computer are called output. So, we can say
that a computer takes input, processes that inp,ut and produces the outp.t, s

# Output statements: Print() function
To display output or results, Python provides the print() function. This function can be 
used in different formats

In [3]:
#syntax: print("string") or print('string')
print("manoj sharma")
#using print() alone through the cursor to the next line
print() 
print("btech ai and ds")

manoj sharma

btech ai and ds

In [2]:
# using escape characters in print() statements
print("manoj\nsharma")
print("manoj\tsharma")
print("manoj\\nsharma")
# Repetition
print("manoj\t"*5)
# concatenation
print("manoj"+"sharma")
print("manoj","sharma")

manoj
sharma
manoj	sharma
manoj\nsharma
manoj	manoj	manoj	manoj	manoj
manojsharma
manoj sharma

In [21]:
# syntax:print(variable list)
a,b=20,30
print(a,b)
print(a,b,sep='----')
print(a,b,sep='*****')

20 30
20----30
20*****30

#### We can ask the print() function not to throw the cursor into the next line but display the output in the same line. This is done using end attribute

In [24]:
print('manoj',end=' ')
print('sharma')
print('manoj',end='\t')
print('sharma')

manoj sharma
manoj	sharma

In [26]:
# syntax: print(object)
lst=[4.5,5,9,'manoj']
print(lst)
d = {'Idly':30.00, 'Roti':45.00, 'Chappati':55.50} 
print(d)

[4.5, 5, 9, 'manoj']
{'Idly': 30.0, 'Roti': 45.0, 'Chappati': 55.5}

In [34]:
# syntax : print("string",variables)
a=2
b=20
print(a,b, "is even number")  
print('You typed ', a,b, 'as input')

2 20 is even number
You typed  2 20 as input

# Specifier	      Description                
%s	         Formats as a string.	
%d or %i	 Formats as a decimal integer.	
%f or %F	 Formats as a floating-point number. You can specify precision, like %.2f. 
%c	        Formats as a single character.	
%x or %X	Formats as a hexadecimal number.	
%o	        Formats as an octal number.	
%e or %E	Formats a floating-point number in scientific notation.	
%%	         Displays a literal percent sign.

In [39]:
# syntax: print(formatted string)
x, y,z,m = 10, 15.68,16,'manoj' 
print('x= %i y= %f z=%d m=%s' % (x, y,z,m))

x= 10 y= 15.680000 z=16 m=manoj

In [43]:
name='manoj' 
print('Hai %s' % name) 
# aligns string to the right
print('Hai (%20s)' % name) 
# aligns string to the left
print('Hai (%-20s)' % name)
# %c used to display a single character.
print('Hai %c, %c' % (name[0], name[1]))
print('Hai %s' %(name[0:2]))

Hai manoj
Hai (               manoj)
Hai (manoj               )
Hai m, a
Hai ma

# .format() method:
We can use a replacement field, which is denoted by a pair of 
curly braces { }. We can mention names or indexes in these replacement fields. These 
names or indexes represent the order of the value
<hr>s.
syntax: print(‘format string with replacement fields’.format(values))

In [47]:
m,n="manoj",'ai and ds'
print("my name is {0}. i am persuing btech {1}".format(m,n))

my name is manoj. i am persuing btech ai and ds

In [48]:
print('manoj is a{}'.format(' good boy'))

manoj is a good boy

In [49]:
print('the{} {} {}'.format(' nature','is','the best healer'))

the nature is the best healer

In [50]:
print('the {2} {0} {1} ' .format('brown','fox','quick'))

the quick brown fox

In [51]:
print('the {q} {b} {f} '.format(f='fox',b='brown',q='quick'))
print('the{f} {f} {f} '.format(f=' fox'))

the quick brown fox
the fox  fox  fox

In [56]:
print('the result is {r:10.6f}'.format(r=100/99))

the result is   1.010101

In [57]:
print("Name: {:s}, Salary: {:.2f}".format("Bob", 12345.678))

Name: Bob, Salary: 12345.68

## string liberal method:

In [4]:
name='manoj'
age=19
print(f'my name is {name} and I am {age} years old')

my name is manoj and I am 19 years old

# Input statements: input("string to be displayed while taking input")
To accept input from keyboard, Python provides the input() function. This function takes 
a value from the keyboard and returns it as a string.

In [5]:
name=input("enter your name:")

enter your name: manoj sharma is learning python

In [7]:
num=int(input("enter a num only:"))

enter a num only: 2356

In [65]:
decimal=float(input('enter decimal or integer value'))
decimal=float(input('enter decimal or integer value'))

enter decimal or integer value 26
enter decimal or integer value 25.36

In [69]:
x=int(input())
y=int(input())
print('U entered: ', x, y, sep=',') 
print('U entered: %d, %d' %(x, y))

 23
 45

U entered: ,23,45
U entered: 23, 45

In [71]:
str = input('Enter hexadecimal number: ')   
n = int(str, 16)  # inform the number is base 16 
print('Hexadecimal to Decimal= ', n); 
 
str = input('Enter octal number: ') 
n = int(str, 8)  # inform the number is base 8 
print('Octal to Decimal= ', n); 
 
str = input('Enter binary number: ') 
n = int(str, 2)  # inform the number is base 2 
print('Binary to Decimal= ', n);

Enter hexadecimal number:  a

Hexadecimal to Decimal=  10

Enter octal number:  7654

Octal to Decimal=  4012

Enter binary number:  01011101

Binary to Decimal=  93

In [74]:
a, b = [int(x) for x in input("Enter two numbers: ").split(",")]
x, y, z = input("Enter three values: ").split()

Enter two numbers:  45,48
Enter three values:  45 48 95

# eval function:
)

In [75]:
# using eval() along with input() function 
x = eval(input("Enter an expression: ")) 
print("Result= %d " % x)

Enter an expression:  4+5-48

Result= -39

In [77]:
# accepting list from keyboard
lst = eval(input("Enter a list: ")) 
print("List= ", lst)

Enter a list:  [56,45.6,'manoj']

List=  [56, 45.6, 'manoj']

In [78]:
# accepting a tuple from keyboard 
tpl = eval(input("Enter a tuple: ")) 
print("Tuple= ", tpl)

Enter a tuple:  (45,46.2,'manoj')

Tuple=  (45, 46.2, 'manoj')